
.container input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
}

.container input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 12px;
}

button {
    background-color: #4169E1;
    border-radius: 12px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}


.container {
    padding: 16px;
}


table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    padding: 15px;
}


.th1{
    background-color: #4169E1;
    color: white;
}
.submit-style{
    background-color: #4169E1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 12px;
}

.search-login{
    width:70%;
    height: 100px;
}
